
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/.qmake.stash
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/AutoCADDB.exe
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/calcbutton.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/calculator.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/connect2csharp.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/connecttocsharp.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/constructsvgdialog.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/dragwidget.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/dropwidget.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/iconslist.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/main.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/mainwindow.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_calcbutton.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_calcbutton.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_calculator.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_calculator.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_connect2csharp.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_connect2csharp.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_connecttocsharp.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_connecttocsharp.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_constructsvgdialog.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_constructsvgdialog.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_dropwidget.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_dropwidget.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_iconslist.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_iconslist.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_myopenglwidget.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_myopenglwidget.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_nopreviewdelete.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_nopreviewdelete.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_openglclass.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_openglclass.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_planningtable.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_planningtable.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_predefs.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_removedata.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_removedata.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_svgdialogview.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_svgdialogview.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_symbolcontainer.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_symbolcontainer.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_symboloptions.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_symboloptions.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_test.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_test.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_uploadnewdata.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/moc_uploadnewdata.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/myopenglwidget.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/nopreviewdelete.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/openglclass.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/planningtable.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/qrc_resources.cpp
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/qrc_resources.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/removedata.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/svgdialogview.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/symbolcontainer.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/symboloptions.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/test.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/debug/uploadnewdata.o
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/Makefile
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/Makefile.Debug
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/Makefile.Release
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/object_script.AutoCADDB.Debug
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/object_script.AutoCADDB.Release
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_constructsvgdialog.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_iconslist.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_mainwindow.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_nopreviewdelete.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_planningtable.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_removedata.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_symbolcontainer.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_symboloptions.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_test.h
build-AutoCADDB-Desktop_Qt_6_1_3_MinGW_64_bit-Debug/ui_uploadnewdata.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/dropwidget.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/AutoCADDB.exe
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/.qmake.stash
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/calcbutton.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/calculator.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/main.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/connect2csharp.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/connecttocsharp.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/constructsvgdialog.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/dragwidget.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/iconslist.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_calcbutton.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_calcbutton.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_calculator.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_calculator.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_connect2csharp.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_connect2csharp.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_connecttocsharp.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_connecttocsharp.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_constructsvgdialog.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_constructsvgdialog.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_dropwidget.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_dropwidget.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_iconslist.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_iconslist.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_myopenglwidget.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_myopenglwidget.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_nopreviewdelete.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_nopreviewdelete.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_openglclass.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_openglclass.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_planningtable.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_planningtable.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_removedata.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_removedata.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_svgdialogview.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_svgdialogview.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_symbolcontainer.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_symbolcontainer.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_symboloptions.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_symboloptions.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_test.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_test.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_uploadnewdata.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_uploadnewdata.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/myopenglwidget.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/nopreviewdelete.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/openglclass.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/planningtable.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/qrc_resources.cpp
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/qrc_resources.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/removedata.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/svgdialogview.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/symbolcontainer.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/symboloptions.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/test.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/uploadnewdata.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/Makefile
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/Makefile.Debug
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/Makefile.Release
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/object_script.AutoCADDB.Debug
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/object_script.AutoCADDB.Release
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_constructsvgdialog.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_iconslist.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_mainwindow.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_nopreviewdelete.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_planningtable.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_removedata.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_symbolcontainer.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_symboloptions.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_test.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/ui_uploadnewdata.h
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_coordinates.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/coordinates.o
build-AutoCADDB-Desktop_Qt_6_1_2_MinGW_64_bit-Debug/debug/moc_coordinates.cpp
